<!doctype html>
<html lang="eb">
<head>
	<meta charset="UTF-8">
	<title>{{ title }}</title>
	<link rel="stylesheet" href="/content/css/main.css">
</head>
<body>
	<div id="bar"><span>RegionStats</span></div>
	{{{ body }}}
</body>
</html>
	