{{#section 'styles'}}
	input{
		display: block;
	}
{{/section}}

{{>navigation_bar}}
<div class="container" ng-controller="signup">
	<br>
	{{makeLink "mysql database" "/mysql"}}
	<br>
	{{makeLink "mongo database" "/mongo"}}


	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<h1>Login to Account</h1>
			<form ng-submit="submitForm()">
				<div ng-class="{'form-group': true, 'has-error': error.username}">
					<label class="control-label">username</label>
					<input type="text" class="form-control" ng-model="form.username"></input>
					<span class="help-block pull-right" ng-bind="error.username"></span>
				</div>
				<div ng-class="{'form-group': true, 'has-error': error.password}">
					<label class="control-label">password</label>
					<input type="password" class="form-control" ng-model="form.password"></input>
					<span class="help-block pull-right" ng-bind="error.password"></span>
				</div>
				<input type="submit" class="btn btn-primary" value="Login"></input>
			</form>
		</div>
	</div>

</div>
{{#section 'scripts'}}

<script type="application/javascript">
    var app = angular.module("myApp", []);

	app.controller("signup", function($http, $scope){
		//alert("In login controller!");
		$scope.form = {};
		$scope.submitForm = function(){
			$scope.error = loginValidate($scope.form);
			if ($scope.error.none) {
				$http.post('/login', $scope.form).then(successCallback, errorCallback);
			}
		}
		function successCallback(response){
			if (response.data.redirect){
				window.location.href = ('/dashboard');
			}
			else if (response.data.password) {
				$scope.error.password = response.data.password;
			}
			else {
				$scope.error.password = response.data.message;
			}
		}
		function errorCallback(response){
			$scope.form.password = "error connecting to server";
		}
	});
	
</script>
<script src="/content/validators/login.js"></script>
{{/section}}
