{{#section 'styles'}}
	input{
		display: block;
	}
{{/section}}

{{>navigation_bar}}
<br>
{{makeLink "mysql database" "/mysql"}}
<br>
{{makeLink "mongo database" "/mongo"}}

<h1>Login to Account</h1>

<form ng-controller="signup" ng-submit="submitForm()">
	<label>username</label>
	<input type="text" name="username" ng-model="form.username"></input>
	<span ng-bind="error.username"></span>
	<br>
	<label>password</label>
	<input type="password" name="password" ng-model="form.password"></input>
	<span ng-bind="error.password"></span>
	<br>
	<input type="radio" name="db" value="mysql" ng-model="form.db"> mysql<br>
	<input type="radio" name="db" value="mongo" ng-model="form.db"> mongo<br>
	<br>
	<input type="submit" value="Login"></input>
</form>

{{#section 'scripts'}}

<script type="application/javascript">
    var app = angular.module("myApp", []);

	app.controller("signup", function($http, $scope){
		//alert("In login controller!");
		$scope.form = {};
		$scope.submitForm = function(){
			//alert("Submitting form!");
			$scope.error = loginValidate($scope.form);
			if ($scope.error.none) {
				$http.post('/login', $scope.form).then(successCallback, errorCallback);
				window.location.href = ('/dashboard');
			}
		}
		
		function successCallback(response){
			//alert(JSON.stringify(response));
			alert(response.data.firstMessage);
			alert(response.data.secondMessage);

		}
		
		function errorCallback(response){
			alert(response.data);
		}
		{{{getValidator "login"}}}
	});
	
</script>

{{/section}}
