{{#section 'styles'}}
{{/section}}
	{{>navigation_bar}}
	<div class="container" ng-controller="uploadRegion">
		<h1>Region Submission</h1>
		<hr>
		<form enctype="multipart/form-data" accept-charset="UTF-8" ng-submit="form.submit()">
			
			<h2>Parent Region</h2>
			<div class="row">
				<div class="col-sm-4">
					<h4>Original Value</h4>
				</div>
				<div class="col-sm-4">
					<h4>New Value</h4>
				</div>
				<div class="col-sm-4">
					<h4>Actions</h4>
				</div>
			</div>	
			
			<div class="row top-buffer"
				ng-class="{'has-success':(form.parent != form.originals[0].parent)}">
				<div class="col-sm-4">
					<label class="help-block" ng-bind="form.originalParentName"></label>
				</div>
				<div class="col-sm-4">
					<input type="text" class="form-control" ng-model="form.parentName" disabled></input>
				</div>
				<div class="col-sm-4 btn-group">
				<button type="button" class="btn btn-default" ng-click="regionModal.show=true">Change Parent Region</button>
					<button type="button" class="btn btn-default" ng-click="form.parent = form.originals[0].parent_id">Reset</button>
				</div>
			</div>
			
			<h2>Region Type</h2>
			<div class="row">
				<div class="col-sm-4">
					<h4>Original Value</h4>
				</div>
				<div class="col-sm-4">
					<h4>New Value</h4>
				</div>
				<div class="col-sm-4">
					<h4>Actions</h4>
				</div>
			</div>	
			
			<div class="row top-buffer"
				ng-class="{'has-success':(form.type != form.originals[0].type)}">
				<div class="col-sm-4">
					<label class="help-block" ng-bind="form.originalTypeName"></label>
				</div>
				<div class="col-sm-4">
					<input type="text" class="form-control" ng-model="form.typeName" disabled></input>
				</div>
				<div class="col-sm-4 btn-group">
				<button type="button" class="btn btn-default" ng-click="typeModal.show=true">Change Region Type</button>
					<button type="button" class="btn btn-default" ng-click="form.type = originals[0].region_type_id">Reset</button>
				</div>
			</div>
			
			
			

			<h2>Region List</h2>
			<div class="row">
				<div class="col-sm-4">
					<h4>Original Value</h4>
				</div>
				<div class="col-sm-4">
					<h4>New Value</h4>
				</div>
				<div class="col-sm-4">
					<h4>Actions</h4>
				</div>
			</div>			
			<div class="row" ng-repeat="region in form.data" 
				ng-class="{'has-success':(region.name != '*deleted*' && region.name != form.originals[$index].name), 'has-error': (region.name == '*deleted*')}">
				<div class="col-sm-4">
					<label class="help-block" ng-bind="form.originals[$index].name"></label>
				</div>
				<div class="col-sm-4">
					<input type="text" class="form-control" ng-model="region.name"></input>
				</div>
				<div class="col-sm-4 btn-group">
					<button type="button" class="btn btn-default" ng-click="region.name=form.originals[$index].name">Reset</button>
					<button type="button" class="btn btn-default" ng-click="region.name='*deleted*'">Delete</button>
				</div>
			</div>
			{{#if permissions.save}}
			<input class="btn btn-primary btn-lg" type="submit" ng-click="form.action='save'" value="save changes"></input>
			{{/if}}
			{{#if permissions.approve}}
			<input class="btn btn-primary btn-lg" type="submit" ng-click="form.action='approve'" value="approve submission"></input>
			{{/if}}
			{{#if permissions.delete}}
			<input class="btn btn-primary btn-lg" type="submit" ng-click="form.action='delete'" value="delete submission"></input>
			{{/if}}
			{{#if permissions.reject}}
			<input class="btn btn-primary btn-lg" type="submit" ng-click="form.action='reject'" value="reject submission"></input>
			{{/if}}
		</form>
		
		<!-- modal -->
		<div modal="regionModal.show" str="'Select Parent Region'" callback="regionModal.submit()">
			<div class="row">
				<div class="col-xs-6">
					<button class="btn btn-default pull-left right-buffer" ng-click="regionModal.back()" ng-if="regionModal.isNotWorld()">back</button>
					<h2 class="top-no-buffer"><small ng-bind="regionModal.getCurrentName()"></small></h2>
				</div>
				<div class="col-xs-6">
					<input type="text" class="form-control" placeholder="filter" ng-model="regionModal.filter" ng-change="regionModal.filterChanged()"></input>
				</div>
			</div>
			<hr>
			<button class="btn btn-default" ng-repeat="item in regionModal.regions" ng-click="regionModal.select(item.id)">{{ng "item.name"}}</button>
			<p ng-if="regionModal.isEmpty()">No sub-regions found</p>
			<p ng-if="regionModal.loading">Loading...</p>
		</div>
		<div modal="typeModal.show" str="typeModal.title">
			<button class="btn btn-default" ng-repeat="data in typeModal.types" ng-click="typeModal.select(data.id)">{{ng "data.name"}}</button>
		</div>
	</div><!-- end container -->
	
{{#section 'scripts'}}

<script type="application/javascript">
	app.service("formService", function($http, event, $timeout){
		var self = this;
		this.subid = {{subid}};
		$http.post("/region/subregions", {subid: self.subid}).then(regionListHandler, errorCallback)
		
		this.originals = [];
		this.data = [];
		
		this.parentName = "loading...";
		this.typeName = "loading...";
		
		this.originalParentName = "loading...";
		this.originalTypeName = "loading...";
		
		this.submit = function(){
			var strArray = self.data.map(function(obj){return obj.name})
			var obj = {
				action: self.action,
				subid: this.subid,
				parent: self.parent,
				type: self.type,
				data: strArray
			}
			obj.data.map(titleCase);
			self.error = uploadRegionValidate(obj);
			if (self.error.none)
				$http.post('/region/edit', obj).then(successCallback, errorCallback);
		}
		this.setData = function(data){
			self.data = data.split(/[\n\r]+/);
		}
		
		event.listen("regionSubmitted", function(id, name){
			self.parent = id;
			self.parentName = name;
		})
		event.listen("typeSubmitted", function(id, name){
			self.type = id;
			self.typeName = name;
		})
		function successCallback(response){
			if (response.data.redirect){
				window.location.href = response.data.redirect;
			}
			else if (response.data.message){
				alert(response.data.message)
			}
			else {
				alert("unknown response");
			}
		}
		function errorCallback(response){
			alert("an error occured: " + JSON.stringify(response.data))
		}
		function regionListHandler(response){
			$timeout(function(){
				self.originals = response.data;
				self.parent = response.data[0].parent;
				event.requestAsync("getRegion", regionNameHandler, self.parent)
				
				self.type = response.data[0].type;
				event.requestAsync("getTypeName", typeNameHandler, self.type);
				
				for (var i = 0; i < self.originals.length; i++){
					self.data.push({name: self.originals[i].name});
				}
			})
		}
		function regionNameHandler(region){
			self.parentName = region.name;
			self.originalParentName = region.name;
		}
		function typeNameHandler(str){
			self.typeName = str;
			self.originalTypeName = str;
		}
	});
	
	app.controller("uploadRegion", function($scope, formService, regionService, typeService){
		$scope.obj={};
		$scope.obj.test = "sample text";
		$scope.form = formService
		$scope.regionModal = regionService;
		$scope.typeModal = typeService;
	});
</script>
<script src="/content/services/region.js"></script>
<script src="/content/services/type.js"></script>

<script src="/content/directives/modal.js"></script>
<script src="/content/js/titlecase.js"></script>
<script src="/content/validators/regionupload.js"></script>

{{/section}}