{{#section 'styles'}}
{{/section}}
	{{>navigation_bar}}
	<div class="container" ng-controller="uploadRegion" ng-submit="form.submit()">
		<h1>Upload Region</h1>
		<form enctype="multipart/form-data" accept-charset="UTF-8">
			<div class="row top-buffer form-group" ng-class="{'has-error': form.error.parent}">
				<div class="col-sm-3">
					<button type="button" class="btn btn-primary btn-block" ng-click="regionModal.show=true">Select Parent Region</button>
				</div>
				<div class="col-sm-9">
					<input type="text" class="form-control" ng-model="regionModal.name" disabled></input>
					<span class="help-block pull-right" ng-bind="form.error.parent"></span>
				</div>
			</div>
			<div class="row top-buffer form-group" ng-class="{'has-error': form.error.type}">
				<div class="col-sm-3">
					<button type="button" class="btn btn-primary btn-block" ng-click="typeModal.show=true">Select Region Type</button>
				</div>
				<div class="col-sm-9">
					<input type="text" class="form-control" ng-model="typeModal.name" disabled></input>
					<span class="help-block pull-right" ng-bind="form.error.type"></span>
				</div>
			</div>
			<div class="row top-buffer form-group" ng-class="{'has-error': form.error.data}">
				<div class="col-sm-3">
					<label class="btn btn-primary btn-block">
						Select File 
						<input type="file" class="hidden" file-reader="form.data" file-name="fileName">
					</label>
				</div>
				<div class="col-sm-9">
					<input type="text" class="form-control" ng-model="fileName" disabled></input>
					<span class="help-block pull-right" ng-bind="form.error.data"></span>
				</div>
				
			</div>
			<input class="btn btn-primary btn-lg pull-right" type="submit" value="submit"></input>
		</form>
		<div ng-if="form.data.length > 0">
			<h2>preview</h2>
			<table>
				<tr>
					<th ng-bind="typeModal.name"></th>
				</tr>
				<tr ng-repeat="region in form.data track by $index">
					<td ng-bind="region"></td>
				</tr>
			</table>
		</div>
		<!-- modal -->
		<div modal="regionModal.show" str="regionModal.title" callback="regionModal.submitRegion()">
			<h2 class="top-no-buffer"><small ng-bind="regionModal.currentRegion.name"></small></h2>
			<!--<input type="text" class="form-control" placeholder="filter"></input>-->
			<button ng-click="regionModal.back()" ng-if="regionModal.list[regionModal.currentRegion.id].parent != -1">back</button>
			<hr>
			<button class="btn btn-default" ng-repeat="data in regionModal.list[regionModal.currentRegion.id].r" ng-click="regionModal.select(data.id)">{{ng "data.name"}}</button>
			<p ng-if="regionModal.list[regionModal.currentRegion.id].r.length == 0">No sub-regions found</p>
		</div>

		<div modal="typeModal.show" str="typeModal.title">
			<button class="btn btn-default" ng-repeat="data in typeModal.types" ng-click="typeModal.select(data.id)">{{ng "data.name"}}</button>
		</div>
	</div><!-- end container -->
	
{{#section 'scripts'}}

<script type="application/javascript">
    var app = angular.module("myApp", []);
	
	app.service("formService", function($http){
		var self = this;
		this.data = [];
		
		this.submit = function(){
			self.data.map(titleCase);
			self.error = uploadRegionValidate(self);
			if (self.error.none)
				
				$http.post('/region/upload', this).then(successCallback, errorCallback);
		}
		function successCallback(response){
			if (response.data.redirect){
				window.location.href = response.data.redirect;
			}
			else if (response.data.message){
				alert(response.data.message)
			}
			else {
				alert("unknown response");
			}
		}
		
		function errorCallback(response){
			alert("an error occured: " + JSON.stringify(response.data))
		}
	});
	
	
	app.service("regionService", function($http, formService){
		var self = this;
		
		function getRegion(id)
		{
			if (!self.list[id]){	
				$http.post('/ajax/region', {id: self.currentRegion.id}).then(successRegionCallback, errorRegionCallback);
			}
			else {
				var id = self.currentRegion.id;
				self.currentRegion.name = self.list[id].name;
				self.name = self.currentRegion.name;
			}
		}

		this.currentRegion = {id: 0, name: "World"};
		this.list = {};
		this.show = false;
		this.title = "Select Parent Region";
		this.name = "not selected";

		this.back = function() {
			var id = self.currentRegion.id;
			self.currentRegion.id = self.list[id].parent;
			getRegion(id);
		}
		this.select = function(id){
			self.currentRegion.id = id;
			getRegion(id);
		}

		this.submitRegion = function() {
			formService.parent = self.currentRegion.id;
			self.name = self.currentRegion.name;
		}
		function successRegionCallback(response)
		{
			console.log(response.data);
			var id = self.currentRegion.id;
			self.list[id] = response.data;
			self.currentRegion.name = self.list[id].name;
		}

		function errorRegionCallback(response)
		{
			console.log(response);
		}

		getRegion(self.currentRegion.id);
		return self;
	
	})

	app.service("typeService", function($http, formService) {
		var self = this;

		this.types = {};

		function getTypes() {
			if (!self.types[0])
				$http.post('/ajax/regionType').then(successRegionCallback, errorRegionCallback);
		}

		this.show = false;
		this.title = "Select Region Type";
		this.name = "not selected";

		this.select = function(id) {
			self.name = self.types[id];
			formService.type = id;
			self.show = false;
		}

		function successRegionCallback(response)
		{
			//console.log(response.data);
			self.types = response.data;
		}

		function errorRegionCallback(response)
		{
			console.log(response);
		}

		getTypes();
		return self;
	})

	
	
	app.controller("uploadRegion", function($http, $scope, formService, regionService, typeService){	
		$scope.form = formService;
		$scope.regionModal = regionService;
		$scope.typeModal = typeService;
	});
</script>
<script src="/content/js/filereader.js"></script>
<script src="/content/js/modal.js"></script>
<script src="/content/js/titlecase.js"></script>
<script src="/content/validators/regionupload.js"></script>

{{/section}}