{{#section 'styles'}}
{{/section}}
	{{>navigation_bar}}
	<div class="container" ng-controller="uploadRegion" ng-submit="form.submit()">
		<h1>Upload Region</h1>
		<form enctype="multipart/form-data" accept-charset="UTF-8">
			<div class="row top-buffer form-group" ng-class="{'has-error': form.error.parent}">
				<div class="col-sm-3">
					<button type="button" class="btn btn-primary btn-block" ng-click="regionModal.show=true">Select Parent Region</button>
				</div>
				<div class="col-sm-9">
					<input type="text" class="form-control" ng-model="form.parentName" disabled></input>
					<span class="help-block pull-right" ng-bind="form.error.parent"></span>
				</div>
			</div>
			<div class="row top-buffer form-group" ng-class="{'has-error': form.error.type}">
				<div class="col-sm-3">
					<button type="button" class="btn btn-primary btn-block" ng-click="typeModal.show=true">Select Region Type</button>
				</div>
				<div class="col-sm-9">
					<input type="text" class="form-control" ng-model="form.typeName" disabled></input>
					<span class="help-block pull-right" ng-bind="form.error.type"></span>
				</div>
			</div>
			<div class="row top-buffer form-group" ng-class="{'has-error': form.error.data}">
				<div class="col-sm-3">
					<label class="btn btn-primary btn-block">
						Select File 
						<input type="file" class="hidden" file-reader callback="form.setData(data)" file-name="fileName">
					</label>
				</div>
				<div class="col-sm-9">
					<input type="text" class="form-control" ng-model="fileName" disabled></input>
					<span class="help-block pull-right" ng-bind="form.error.data"></span>
				</div>
				
			</div>
			<input class="btn btn-primary btn-lg pull-right" type="submit" value="submit"></input>
		</form>
		<div ng-if="form.data.length > 0">
			<h2>preview</h2>
			<table>
				<tr>
					<th ng-bind="typeModal.name"></th>
				</tr>
				<tr ng-repeat="region in form.data track by $index">
					<td ng-bind="region"></td>
				</tr>
			</table>
		</div>
		<!-- modal -->
		<div modal="regionModal.show" str="'Select Parent Region'" callback="regionModal.submit()">
			<div class="row">
				<div class="col-xs-6">
					<button class="btn btn-default pull-left right-buffer" ng-click="regionModal.back()" ng-if="regionModal.isNotWorld()">back</button>
					<h2 class="top-no-buffer"><small ng-bind="regionModal.getCurrentName()"></small></h2>
				</div>
				<div class="col-xs-6">
					<input type="text" class="form-control" placeholder="filter" ng-model="regionModal.filter" ng-change="regionModal.filterChanged()"></input>
				</div>
			</div>
			<hr>
			<button class="btn btn-default" ng-repeat="item in regionModal.regions" ng-click="regionModal.select(item.id)">{{ng "item.name"}}</button>
			<p ng-if="regionModal.isEmpty()">No sub-regions found</p>
			<p ng-if="regionModal.loading">Loading...</p>
		</div>

		<div modal="typeModal.show" str="typeModal.title">
			<button class="btn btn-default" ng-repeat="data in typeModal.types" ng-click="typeModal.select(data.id)">{{ng "data.name"}}</button>
		</div>
	</div><!-- end container -->
	
{{#section 'scripts'}}
<script type="application/javascript">
	app.service("formService", function($http, event){
		var self = this;
		this.data = [];
		this.parentName = "not selected";
		this.typeName = "not selected";
		
		this.submit = function(){
			var obj = {
				parent: self.parent,
				type: self.type,
				data: self.data
			}
			obj.data.map(titleCase);
			self.error = uploadRegionValidate(obj);
			if (self.error.none)
				$http.post('/region/upload', obj).then(successCallback, errorCallback);
		}
		this.setData = function(data){
			self.data = data.split(/[\n\r]+/);
		}
		
		event.listen("regionSubmitted", function(id, name){
			self.parent = id;
			self.parentName = name;
		})
		event.listen("typeSubmitted", function(id, name){
			self.type = id;
			self.typeName = name;
		})
		function successCallback(response){
			if (response.data.redirect){
				window.location.href = response.data.redirect;
			}
			else if (response.data.message){
				alert(response.data.message)
			}
			else {
				alert("unknown response");
			}
		}
		function errorCallback(response){
			alert("an error occured: " + JSON.stringify(response.data))
		}
	});
	

	app.controller("uploadRegion", function($scope, formService, regionService, typeService){	
		$scope.form = formService;
		$scope.regionModal = regionService;
		$scope.typeModal = typeService;
	});
</script>
<script src="/content/js/regionservice.js"></script>
<script src="/content/js/typeservice.js"></script>

<script src="/content/js/filereader.js"></script>
<script src="/content/js/modal.js"></script>
<script src="/content/js/titlecase.js"></script>
<script src="/content/validators/regionupload.js"></script>

{{/section}}