{{#section 'styles'}}
	input{
		display: block;
	}
{{/section}}

{{>navigation_bar}}
<div class="container" ng-controller="signup" ng-submit="submitForm()">
	{{makeLink "homepage" "../"}}
	<br>
	{{makeLink "mysql database" "/mysql"}}
	<br>
	{{makeLink "mongo database" "/mongo"}}
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<h1>Create Account</h1>
			<form ng-controller="signup" ng-submit="submitForm()">
				<div ng-class="{'form-group': true, 'has-error': error.username}">
					<label class="control-label">username</label>
					<input type="text" class="form-control" ng-model="form.username"></input>
					<span class="help-block pull-right" ng-bind="error.username"></span>
				</div>
				<div ng-class="{'form-group': true, 'has-error': error.email}">
					<label class="control-label">email</label>
					<input type="text" class="form-control" ng-model="form.email"></input>
					<span class="help-block pull-right" ng-bind="error.email"></span>
				</div>
				<div ng-class="{'form-group': true, 'has-error': error.password}">
					<label class="control-label">password</label>
					<input type="password" class="form-control" ng-model="form.password"></input>
					<span class="help-block pull-right" ng-bind="error.password"></span>
				</div>
				<div ng-class="{'form-group': true, 'has-error': error.confirm}">
					<label class="control-label">confirm password</label>
					<input type="password" class="form-control" ng-model="form.confirm"></input>
					<span class="help-block pull-right" ng-bind="error.confirm"></span>
				</div>
				<input type="submit" class="btn btn-primary" value="Submit"></input>
			</form>
		</div>
	</div>
</div>
{{#section 'scripts'}}

<script type="application/javascript">
    var app = angular.module("myApp", []);

	app.controller("signup", function($http, $scope){
		$scope.form = {};
		$scope.submitForm = function(){
			$scope.error = signupValidate($scope.form);
			if ($scope.error.none)
				$http.post('/signup', $scope.form).then(successCallback, errorCallback);
		}
		
		function successCallback(response){
			if (response.data.redirect){
				window.location.href="/dashboard";
				return;
			}
			else if (response.data.username){
				$scope.error.username = response.data.username
			} else {
				$scope.error.confirm = response.data.message
			}
		}
		
		function errorCallback(response){
			$scope.error.confirm = "error connecting to server";
		}
	});
	
</script>
<script src="/content/validators/signup.js"></script>
{{/section}}