{{#section 'styles'}}
{{/section}}
	{{>navigation_bar}}
	<div class="container" ng-controller="uploadSource" ng-submit="submitForm()">
		<h1>Upload Source</h1>
		<form enctype="multipart/form-data" accept-charset="UTF-8">
			<div class="row top-buffer form-group" ng-class="{'has-error': error.parent}">
				<div class="col-sm-3">
					<button type="button" class="btn btn-primary btn-block" ng-click="regionModal.show=true">Select Region</button>
				</div>
				<div class="col-sm-9">
					<input type="text" class="form-control" ng-model="regionModal.name" disabled></input>
					<span class="help-block pull-right" ng-bind="error.parent"></span>
				</div>
			</div>
			<div class="row top-buffer form-group" ng-class="{'has-error': error.type}">
				<div class="col-sm-3">
					<button type="button" class="btn btn-primary btn-block" ng-click="publisherModal.show=true">Select Publisher</button>
				</div>
				<div class="col-sm-9">
					<input type="text" class="form-control" ng-model="publisherModal.name" disabled></input>
					<span class="help-block pull-right" ng-bind="error.type"></span>
				</div>
			</div>
			<div class="row top-buffer form-group" ng-class="{'has-error': error.title}">
				<div class="col-sm-3">
					<label class="btn btn-primary btn-block">
						Title:
						<!--<input type="file" class="hidden" file-reader="form.data" file-name="title">-->
					</label>
				</div>
				<div class="col-sm-9">
					<input type="text" class="form-control" ng-model="form.title"></input>
					<span class="help-block pull-right" ng-bind="error.title"></span>
				</div>
			</div>
			<div class="row top-buffer form-group" ng-class="{'has-error': error.url}">
				<div class="col-sm-3">
					<label class="btn btn-primary btn-block">
						URL: 
						<!--<input type="file" class="hidden" file-reader="form.data" file-name="fileName">-->
					</label>
				</div>
				<div class="col-sm-9">
					<input type="text" class="form-control" ng-model="form.url"></input>
					<span class="help-block pull-right" ng-bind="error.url"></span>
				</div>	
			</div>
			<input class="btn btn-primary btn-lg pull-right" type="submit" value="submit"></input>
		</form>
		<div ng-if="form.data.length > 0">
			<h2>preview</h2>
			<table>
				<tr>
					<th ng-bind="publisherModal.name"></th>
				</tr>
				<tr ng-repeat="region in form.data track by $index">
					<td ng-bind="region"></td>
				</tr>
			</table>
		</div>
		<!-- modal -->
		<div modal="regionModal.show" str="regionModal.title" callback="regionModal.submitRegion()">
			<h2 class="top-no-buffer"><small ng-bind="regionModal.currentRegion.name"></small></h2>
			<!--<input type="text" class="form-control" placeholder="filter"></input>-->
			<button ng-click="regionModal.back()" ng-if="regionModal.list[regionModal.currentRegion.id].parent != -1">back</button>
			<hr>
			<button class="btn btn-default" ng-repeat="data in regionModal.list[regionModal.currentRegion.id].r" ng-click="regionModal.select(data.id)">{{ng "data.name"}}</button>
			<p ng-if="regionModal.list[regionModal.currentRegion.id].r.length == 0">No sub-regions found</p>
		</div>

		<div modal="publisherModal.show" str="publisherModal.title">
			<button class="btn btn-default" ng-repeat="(id, name) in publisherModal.types" ng-click="publisherModal.select(id)">{{ng "name"}}</button>
		</div>
	</div><!-- end container -->
	
{{#section 'scripts'}}

<script type="application/javascript">
    var app = angular.module("myApp", []);

    /*app.service("formService", function($http){
		var self = this;
		this.data = [];
		
		this.submit = function(){
			self.data.map(titleCase);
			self.error = uploadSourceValidate(self);
			if (self.error.none)			
				$http.post('/source/upload', this).then(successCallback, errorCallback);
		}
		function successCallback(response){
			if (response.data.redirect){
				window.location.href = response.data.redirect;
			}
			else if (response.data.message){
				alert(response.data.message)
			}
			else {
				alert("unknown response");
			}
		}
		
		function errorCallback(response){
			alert("an error occured: " + JSON.stringify(response.data))
		}
	});*/

    app.service("publisherService", function($http))

	app.controller("uploadSource", function($http, $scope){
		$scope.publisherModal = {}
		$scope.publisherModal.types = {
			"1": "CollegeBoard",
			"2": "New York Times",
			"3": "United States Census Bureau"
		}
		$scope.publisherModal.show = false;
		$scope.publisherModal.title = "Select Region Type";
		$scope.publisherModal.name = "not selected";
		$scope.publisherModal.select = function(id){
			$scope.publisherModal.name = this.types[id];
			$scope.form.type = id;
			$scope.publisherModal.show = false;
		}
		
		$scope.form = formService;
		$scope.fileName = "not selected";
		$scope.form.data = [];

		$scope.regionModal = getRegionModal($scope.form, $http);

		$scope.submitForm = function(){
			$scope.form.data.map(titleCase);
			$scope.error = uploadSourceValidate($scope.form);
			if ($scope.error.none)
				$http.post('/source/upload', $scope.form).then(successCallback, errorCallback);
		}
		
		function successCallback(response){
			if (response.data.redirect){
				window.location.href = response.data.redirect;
			}
			else if (response.data.message){
				alert(response.data.message)
			}
			else {
				alert("unknown response");
			}
		}
		
		function errorCallback(response){
			alert("an error occured: " + JSON.stringify(response.data))
		}
	});
</script>
<script src="/content/js/filereader.js"></script>
<script src="/content/js/modal.js"></script>
<script src="/content/js/titlecase.js"></script>
<script src="/content/validators/sourceupload.js"></script>
<script src="/content/js/getRegions.js"></script>

{{/section}}