{{#section 'styles'}}
{{/section}}
	{{>navigation_bar}}
	<div class="container" ng-controller="uploadRegion" ng-submit="submitForm()">
		<h1>Upload Region</h1>
		<form enctype="multipart/form-data" accept-charset="UTF-8">
			<div class="row">
				<div class="col-sm-3">
					<button class="btn btn-primary btn-block" ng-click="regionModal.show=true">Select Parent Region</button>
				</div>
				<div class="col-sm-9">
					<input type="text" class="form-control" ng-model="regionModal.name" disabled></input>
				</div>
			</div>
			<div class="row top-buffer">
				<div class="col-sm-3">
					<button class="btn btn-primary btn-block" ng-click="typeModal.show=true">Select Region Type</button>
				</div>
				<div class="col-sm-9">
					<input type="text" class="form-control" ng-model="typeModal.name" disabled></input>
				</div>
			</div>
			<div class="row top-buffer">
				<div class="col-sm-9 col-sm-offset-3">
					<input type="file" file-reader="form.data"></input>
				</div>
			</div>
			<input class="btn btn-primary btn-lg pull-right" type="submit" value="submit"></input>
		</form>
		<div ng-if="form.data.length > 0">
			<h2>preview</h2>
			<table>
				<tr>
					<th ng-bind="typeModal.name"></th>
				</tr>
				<tr ng-repeat="region in form.data track by $index">
					<td ng-bind="region"></td>
				</tr>
			</table>
		</div>
		<!-- modal -->
		<div modal="regionModal.show" str="regionModal.title" callback="regionModal.select()">
			<h2 class="top-no-buffer"><small ng-bind="regionModal.stack[regionModal.stack.length - 1].name"></small></h2>
			<input type="text" class="form-control" placeholder="filter"></input>
			<hr>
			
		</div>
		<div modal="typeModal.show" str="typeModal.title">
			<button class="btn btn-default" ng-repeat="(id, name) in typeModal.types" ng-click="typeModal.select(id)">{{ng "name"}}</button>
		</div>
	</div><!-- end container -->
	
{{#section 'scripts'}}

<script type="application/javascript">
    var app = angular.module("myApp", []);

	app.controller("uploadRegion", function($http, $scope){
		$scope.regionModal = {}
		$scope.regionModal.stack = [{id: 0, name: "World"}];
		$scope.regionModal.show = false;
		$scope.regionModal.title = "Select Parent Region";
		
		$scope.regionModal.name = "not selected";
		$scope.regionModal.select = function(){
			var region = $scope.regionModal.stack[$scope.regionModal.stack.length - 1];
			$scope.regionModal.name = region.name;
			$scope.form.parent = region.id;
		}
		
		
		$scope.typeModal = {}
		$scope.typeModal.types = {
			"1": "Country",
			"2": "City",
			"3": "State"
		}
		$scope.typeModal.show = false;
		$scope.typeModal.title = "Select Region Type";
		$scope.typeModal.name = "not selected";
		$scope.typeModal.select = function(id){
			$scope.typeModal.name = this.types[id];
			$scope.form.type = id;
			$scope.typeModal.show = false;
		}
		
		$scope.form = {};
		$scope.form.data = [];
		$scope.form.parent = "-1"; //temporary
		$scope.form.type = "";
		$scope.submitForm = function(){
			$scope.form.data.map(titleCase);
			$scope.error = uploadRegionValidate($scope.form);
			return;
			if ($scope.error.none)
				$http.post('/region/upload', $scope.form).then(successCallback, errorCallback);
		}
		
		function successCallback(response){
			alert(response.data);
		}
		
		function errorCallback(response){
			alert(response.data);
		}
		{{{getValidator "uploadregion"}}}
	});
	
	
	app.directive("fileReader", function(){
		function link(scope, element, attr){
			element.on("change", function(e){
				var file = e.target.files[0];
				var reader = new FileReader();
				reader.onload = function(e){
					scope.$apply(function(){
						scope.data = e.target.result.split("\n")
					});
				}
				reader.readAsText(file);
			})
		}
		return {
			restrict: "A",
			scope: {
				data: "=fileReader",
			},
			link: link
		}
	});
	
</script>
<script src="/content/js/titlecase.js"></script>
<script src="/content/js/modal.js"></script>

{{/section}}