
.modal-dialog{
	z-index: 1050;
	height: 50%;
}
.modal-content{
	height: 100%;
	display: flex;
	flex-direction: column;
}
.modal-body{
	background-color: #f8f8f8;
	height: 70%;
	overflow-y: auto;
}
.modal-backdrop{
	opacity: 0.5
}
.modal-header .close {
  font-size: 36px; //bigger
}

.top-buffer{ 
	margin-top:20px; 
}
.right-buffer{
	margin-right: 20px;
}

.top-buffer-sm { 
	margin-top:5px; 
}

.top-no-buffer { 
	margin-top:0; 
}
.clickable{
	cursor: pointer;
}
body{
	margin: 0;
}
#bar{
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #F8F8F8;
    border-bottom: 1px solid #DDD;
}
/*remove spinners from input type number */
input[type='number'] {
    -moz-appearance:textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.sidebar-content{
	transition: left 0.5s;
	background-color: #111;
	position: fixed;
	left: 105%;
	width: 70%;
	top: 0;
	bottom: 0;
	z-index: 1050;
}
sidebar-header{
	position: absolute;
	left: 0;
	right: 0;
	color: white;
	background: #333;
}
sidebar-body{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	background: #000;
	overflow-y: scroll;
}