
.modal-dialog{
	z-index: 1050;
}
.modal-body{
	max-height: 500px;
	overflow-y: auto;
}
.modal-backdrop{
	opacity: 0.5
}
.modal-header .close {
  font-size: 36px; //bigger
}

.top-buffer { 
	margin-top:20px; 
}

.top-buffer-sm { 
	margin-top:5px; 
}

.top-no-buffer { 
	margin-top:0; 
}

body{
	margin: 0;
	
}

#bar{
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #F8F8F8;
    border-bottom: 1px solid #DDD;
}